// Variáveis básicas
@use 'partials/variables' as *;
@use 'partials/fam-icons';
@use 'partials/workspace';
@use 'partials/menu';
@use 'partials/toolbox';
@use 'partials/canvas';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden; // Evita scroll na página toda
}

#app {
  display: grid;
  grid-template-rows: $header-height 12fr;
  height: 100vh;
}
.abcjs-inline-audio {
  height: 26px;
  padding: 0 5px;
  background-color: #424242;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: unset;
}
